<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout}">
<body>
	<div th:fragment="content">
		<div class="content-grid"
			th:classappend="${user != null} ? 'logged-in' : 'single'">

			<!-- 최신 뉴스 -->
			<section class="main-news">
				<h3>최신 뉴스</h3>

				<ul class="news-grid"
					th:classappend="${user != null} ? 'grid-2x2' : 'grid-3x2'">

					<li class="news-card" th:each="news : ${newsList}">
					<a th:href="@{/news/{id}(id=${news.id})}" class="news-link">

							<div class="news-image">
								<img
									th:src="${(news.imageUrl != null and !#strings.isEmpty(news.imageUrl)) ? news.imageUrl : '/images/default.png'}"
									th:onerror="|this.src='@{/images/default.png}';|"
									alt="news image" />
							</div>

							<div class="news-content">
								<h4 th:text="${news.title}"></h4>
								<p class="news-summary" th:text="${news.summary}"></p>
							</div>

					</a></li>

				</ul>
			</section>

			<!-- 내가 자주 보는 기사 -->
			<aside class="favorite" th:if="${user != null}">
				<h3 class="side-title">내가 자주 보는 기사</h3>

				<ul class="favorite-grid">
					<li class="news-card small" th:each="news : ${favoriteNews}">
						<a th:href="@{/news/{id}(id=${news.id})}" class="news-link">
							<div class="news-image">
								<img
									th:src="${(news.imageUrl != null and !#strings.isEmpty(news.imageUrl)) ? news.imageUrl : '/images/default.png'}"
									th:onerror="|this.src='@{/images/default.png}';|"
									alt="news image" />
							</div>

							<div class="news-content">
								<h4 th:text="${news.title}"></h4>
								<p class="news-summary" th:text="${news.summary}"></p>
							</div>

					</a>
					</li>
				</ul>
			</aside>

		</div>
	</div>
	
	
</body>
</html>
