<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>(로고)</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header>
  <h2><a href="/">(로고)</a></h2>
  <div>
    <a th:if="${user == null}" href="/login">Login</a>
    <span th:if="${user != null}" th:text="${user.email}"></span>
    <a th:if="${user != null}" href="/recommend">Recommend</a>
  </div>
</header>

<main>
  <div th:replace="~{::content}"></div>
</main>

</body>

</html>
