<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout">
<body>

	<div th:fragment="content">
		<article>
			<h2 th:text="${news.title}"></h2>
			<div>
				<div>
					<img
						th:src="${(news.imageUrl != null and !#strings.isEmpty(news.imageUrl)) ? news.imageUrl : '/images/default.png'}"
						th:onerror="|this.src='@{/images/default.png}';|" alt="news image" />
				</div>
			</div>

			<div>
				<div class="news-source" th:text="${news.source}"></div>
				<div class="news-summary" th:text="${news.summary}">요약</div>
			</div>

			<a th:href="${news.url}" target="_blank"> 원문 보기 </a> <a href="/"
				class="back-link">목록으로</a>
		</article>
	</div>
</body>

</html>
